@import "./variables.scss";
@import "./main-page.scss";
@import "./main-categorys.scss";
@import "./main-dinamic.scss";
@import "./dinamic-questions.scss";
@import "./dinamic-results.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh; 
    height: calc(#{$inner-hight-main} * 100);
}

.hidden{
    display: none;
}


//componentes generales
.button{
    text-align: center;
    background-color: white;
    padding: 10px 15px;
    border: none;
    box-shadow: 0px 4px 8px rgba(36, 124, 123, 0.16);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 5px;


    &:hover{
        // transform: scale(1.01);
    }
}

#button-start{
    color: saddlebrown;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: url(../assets/button-start.png)center/contain no-repeat;
    transition: 0.2s all 0s;
    outline: none;

    &:hover{
        transform: scale(1.2);
    }

}

@media (min-width:450px){
    .category-item{
        .category__contador{
            margin-right: 10px;
            margin-top:10px;
        }
    }

}


//solo cuando estoy en pc --> colocar desde el html
@media only screen and (hover: hover) and (pointer:fine){

    .categorys{
        width: calc(100% - #{$width-carousel-buttons * 2});
    }

    .carousel-button{
        display: block;
    }
    
    .main-categorys{
        padding: 0px 15px;
        
    }
}